body {
  margin: 0;
  background-color: black;
  line-height: 1.4;
  cursor: url("../images/babyyodapointer.svg"), default; }

@font-face {
  font-family: "Franklin Gothic Condensed";
  src: local("Franklin Gothic Condensed"), url("/fonts/Franklin Gothic Condensed.woff") format("woff"); }

a.href {
  display: inline-block;
  color: rgba(255, 232, 31, 0.8);
  text-decoration: none;
  transition: all 0.4s; }
  a.href:hover {
    text-decoration: underline;
    color: black; }

#falcon {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  right: 100px;
  height: 100px; }

.click {
  cursor: pointer; }

section.sky {
  position: fixed; }

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; }
  .avatar_image {
    transition: all 0.2s ease-in-out;
    height: auto;
    width: auto;
    max-width: 250px;
    padding: 18px;
    border-radius: 50%;
    border: solid 6px #ffe81f;
    box-shadow: 000000 0px 0px 27px 3px;
    color: #000000; }
    .avatar_image:hover {
      transform: scale(1.1); }

.left_body_area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center; }

@keyframes curtain {
  0% {
    display: block;
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    display: none; } }

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white; }

.link {
  cursor: url("../images/babyyodapointer.svg"), pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 1s;
  color: rgba(255, 232, 31, 0.8);
  transition: all 0.3s; }
  .link:hover {
    border-color: rgba(255, 232, 31, 0.8); }

.container {
  transform-origin: center;
  justify-content: center;
  transform-style: preserve-3d;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: rgba(255, 232, 31, 0.8) !important;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .container .block_grid {
    display: grid;
    font-size: 30px;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    justify-self: center; }
    .container .block_grid section.block {
      z-index: 3;
      transition: all 0.2s ease-in-out;
      grid-gap: 20px;
      max-width: 50%;
      border-radius: 20px;
      padding: 10px;
      display: flex;
      justify-content: center;
      font-family: "Franklin Gothic Condensed";
      font-weight: 600;
      line-height: 1.6;
      text-transform: uppercase;
      text-align: justify;
      color: rgba(255, 232, 31, 0.8);
      margin-bottom: 32px; }
      .container .block_grid section.block.mobile_only {
        display: none; }
      .container .block_grid section.block.h2 {
        font-size: 20px;
        font-weight: 300; }
  .container .intro {
    position: absolute;
    display: flex;
    z-index: 3;
    animation: intro 8s ease-out;
    color: #ffe81f !important;
    opacity: 0;
    transform: scale(0.01);
    max-height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: solid 2px rgba(255, 232, 31, 0.28);
    padding: 10px;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    line-height: 1.6;
    font-size: 50px;
    font-family: "Franklin Gothic Condensed";
    text-align: center;
    color: rgba(255, 232, 31, 0.8);
    margin-bottom: 32px; }
    .container .intro:hover {
      color: #000000; }

@keyframes intro {
  0% {
    opacity: 0;
    top: 500px;
    transform: rotateX(20deg) translateZ(100px) scale(3); }
  5% {
    opacity: 1; }
  80% {
    opacity: 1;
    transform: rotateX(20deg) translateZ(-2500px) scale(2.5); }
  100% {
    opacity: 0;
    top: 0px;
    transform: rotateX(20deg) translateZ(-2500px) scale(1); } }
  .container_inner {
    border-radius: 4px;
    padding: 23px;
    margin: 25px;
    display: grid; }
    .container_inner .footer .paragraph_footer .link span {
      color: rgba(255, 232, 31, 0.8); }
    .container_inner .footer .hint {
      font-size: 12px; }
  .container .content .portfolio_item .button {
    width: auto;
    font-weight: 600;
    font-family: "Franklin Gothic Condensed";
    line-height: 1.6;
    padding: 10px;
    background-color: rgba(153, 0, 0, 0.6);
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 20px; }
    .container .content .portfolio_item .button:hover {
      background-color: rgba(226, 36, 58, 0.8); }
  .container .content .portfolio_item .paragraph .link {
    color: rgba(255, 255, 255, 0.788);
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s, text-decoration 0.3s; }
    .container .content .portfolio_item .paragraph .link:hover {
      text-decoration: none;
      color: darkgray; }
    .container .content .portfolio_item .paragraph .link::before {
      background-image: url("../images/linkedin_icon.png");
      height: 30px;
      width: 30px;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat; }

@media screen and (max-width: 736px) {
  .container_inner .block_grid {
    display: grid;
    grid-template-columns: auto;
    font-size: 18px; }
  .container_inner .block.mobile_only {
    display: flex; } }
