body {
  margin: 0;
  background-color: black;
  line-height: 1.4;
  cursor: url("../images/babyyodapointer.svg"), default;
}

@font-face {
  font-family: "Franklin Gothic Condensed";
  src: local("Franklin Gothic Condensed"),
    url("/fonts/Franklin Gothic Condensed.woff") format("woff");
}

$text-color: rgba(255, 232, 31, 0.8);
a.href {
  display: inline-block;
  color: $text-color;
  &:hover {
    color: black;
  }
}

.box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
.box_green {
  background-color: green;
  padding: 15px 24px;
  font-size: 24px;
  margin: 24px 0px;
  text-align: center;
  max-width: max-content;
  border-radius: 4px;
  &a {
    cursor: pointer;
  }
}

.click {
  cursor: pointer;
}
section.sky {
  position: fixed;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  &_image {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    height: auto;
    width: auto;
    max-width: 250px;
    padding: 18px;
    border-radius: 50%;
    border: solid 6px #ffe81f;
    box-shadow: 000000 0px 0px 27px 3px;
    color: #000000;
  }
}

.left_body_area {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  cursor: pointer;
}
@keyframes curtain {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

.link {
  cursor: url("../images/babyyodapointer.svg"), pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 1s;
  color: $text-color;
  transition: all 0.3s;
  &:hover {
    border-color: $text-color;
  }
}

.container {
  // perspective: 650px;
  transform-origin: center;
  justify-content: center;
  .block_grid {
    display: grid;
    font-size: 30px;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    justify-self: center;
    section.block {
      z-index: 3;
      transition: all 0.2s ease-in-out;
      grid-gap: 20px;
      max-width: 50%;
      &.mobile_only {
        display: none;
      }
      border-radius: 20px;
      padding: 10px;
      display: flex;
      justify-content: center;
      font-family: "Franklin Gothic Condensed";

      // font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
      font-weight: 600;
      line-height: 1.6;
      text-transform: uppercase;
      text-align: justify;
      color: $text-color;
      margin-bottom: 32px;
      &.h2 {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }

  .intro {
    position: absolute;
    display: flex;
    z-index: 3;
    animation: intro 8s ease-out;
    color: #ffe81f !important;
    opacity: 0;
    // transform-origin: 50% 100%;
    transform: scale(0.01);

    &:hover {
      // transform: scale(1.1);
      // background-color: rgba(255, 232, 31, 1);
      color: #000000;
    }
    max-height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: solid 2px rgba(255, 232, 31, 0.28);
    padding: 10px;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    line-height: 1.6;
    font-size: 50px;
    font-family: "Franklin Gothic Condensed";
    // font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    color: $text-color;
    margin-bottom: 32px;
  }

  @keyframes intro {
    0% {
      opacity: 0;
      top: 500px;
      transform: rotateX(20deg) translateZ(100px) scale(3);
    }
    5% {
      opacity: 1;
    }

    80% {
      opacity: 1;
      transform: rotateX(20deg) translateZ(-2500px) scale(2.5);
    }
    100% {
      opacity: 0;
      top: 0px;
      transform: rotateX(20deg) translateZ(-2500px) scale(1);
    }
  }
  transform-style: preserve-3d;
  position: absolute;
  // background: rgb(153, 0, 0);
  // background: -moz-linear-gradient(
  //   148deg,
  //   rgba(153, 0, 0, 1) 0%,
  //   rgba(17, 16, 0, 1) 50%,
  //   rgba(0, 35, 149, 1) 100%
  // );
  // background: -webkit-linear-gradient(
  //   148deg,
  //   rgba(153, 0, 0, 1) 0%,
  //   rgba(17, 16, 0, 1) 50%,
  //   rgba(0, 35, 149, 1) 100%
  // );
  // background: linear-gradient(
  //   148deg,
  //   rgba(153, 0, 0, 1) 0%,
  //   rgba(17, 16, 0, 1) 50%,
  //   rgba(0, 35, 149, 1) 100%
  // );
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#990000",endColorstr="#002395",GradientType=1);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  color: $text-color !important;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_inner {
    border-radius: 4px;
    padding: 23px;
    margin: 25px;
    display: grid;
    .footer {
      .paragraph_footer {
        .link {
          span {
            color: $text-color;
          }
        }
      }

      .hint {
        font-size: 12px;
      }
    }
  }

  .content {
    .portfolio_item {
      .button {
        width: auto;
        font-weight: 600;
        font-family: "Franklin Gothic Condensed";

        // font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        line-height: 1.6;

        padding: 20px;
        background-color: rgba(153, 0, 0, 0.6);
        transition: background-color 0.3s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-size: 20px;
        &:hover {
          background-color: rgba(226, 36, 58, 0.8);
        }
      }
      .paragraph {
        .link {
          color: rgba(255, 255, 255, 0.788);
          font-size: 16px;
          cursor: pointer;
          text-decoration: underline;
          transition: color 0.3s, text-decoration 0.3s;
          &:hover {
            text-decoration: none;
            color: darkgray;
          }
          &::before {
            background-image: url("../images/linkedin_icon.png");
            height: 30px;
            width: 30px;
            cursor: pointer;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 736px) {
  .container {
    &_inner {
      .block_grid {
        display: grid;
        grid-template-columns: auto;
        font-size: 18px;

      }
      .block {
        &.mobile_only {
          display: flex;
        }
      }
      .content {
        .portfolio_item {
        }
      }
    }
  }
}
